# This file is part of tkintertools.
# https://github.com/someuser/somepackage

# Licensed under the MIT license:
# http://www.opensource.org/licenses/MIT-license
# Copyright (c) 2018, Joe <joe.bell34@btinternet.com>

recursive-exclude tests *
